#container{
    width: 100%;
    height: 800px;
    text-align: center;
    padding-top: 100px;
    background-color:rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#uno{
    font-size: 2rem;
}
#duo{
    font-size: 10rem;
    height: 150px;
    line-height: 150px;
    color: royalblue;
    border: 2px solid black;
    width: 180px;
    margin: 10px auto;
    padding: 20px;
}
#start{
    font-size: 8rem;
    background-color: seagreen;
    width: fit-content;
    margin: 30px auto;
    border-radius: 15px;
    padding: 5px 10px;

}
#some_div{
    font-size: 5rem;
    color: red;
}